@import "sass/index";

.wrapper {
  display: block;
}

.input {
  display: block;

  width: 100%;
  padding: 6px 12px;

  font-size: 16px;
  line-height: 1.5;
  color: #495057;

  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  margin: 0;
  overflow: visible;

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 3.5px RGB(0 123 255 / 25%);
  }
}

.label {
  color: $main-functional-color;
  font-size: 1.4rem;
  margin: 0 0 5px;
}
