$transition-time: 0.4s;
$long-transition-time: 0.75s;
$lineOpacity: 0.3;

$main-functional-color: #0d6efd;
$second-functional-color: white;
// $main-light-color: #dedede;

$line: 1px solid rgba($main-functional-color, $lineOpacity);

$minimum-screen-width: 320px;
$mobile-screen-width: 600px;

:export {
  minimumScreenWidth: $minimum-screen-width;
  mobileScreenWidth: $mobile-screen-width;
}

/*

style.module.scss

*/
