@import "sass/index";

.root {
  padding: 5px;
  margin: 10px;

  box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: white;
}

.navigation {
  border-top: $line;
  margin-top: 10px;
}
