$padding: 5px;

.root {
  position: absolute;
  top: 0;
  left: 0;

  background: white;
  width: 600px;
  padding: $padding;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  & > :last-child {
    min-width: 290px;
    margin: 0;
  }
}

.control {
  width: 100%;
  margin-right: $padding;

  & > :nth-child(n) {
    margin-top: 10px;
  }
}
